.visible-sm
.visible-xs
    display: none
.hide-xs
    display: block
//      MD
// ====        1300    =====

// @media all and (max-width: 1300px)   
   
//      SM
// ===     1025    ====

// @media all and (max-width: 1025px)


// @media all and (max-width: 920px)
  

// ===     900     ===

// @media all and (max-width: 900px)
   

//      XS
// ===     800     ===
@media all and (max-width: 800px)
    .hide-xs
        display: none
    .visible-xs
        display: block
    
// @media all and (max-width: 500px)
   