doctype html
html(lang='en-US', prefix="og: http://ogp.me/ns#")
    include layout/head 

    body
        h1 Sratr page
        
        include layout/simple-element

    include layout/footer 
    include layout/scripts
