head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" type="image/ico" href="favicon.ico")

    title Start page
    link(rel="stylesheet", href="./css/normalize.css")

    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.0.3/jquery-confirm.min.css")
    //- link(rel="stylesheet", href="./js/libs/select/selectric.css")
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/css/nanoscroller.min.css")
    //- link(rel="stylesheet", href="./js/libs/slick-carousel/slick/slick.css")
    //- link(rel="stylesheet", href="./js/libs/slick-carousel/slick/slick-theme.css")
    //- link(rel="stylesheet", href="./js/libs/nanoScrollerJS/bin/css/nanoscroller.css")
    //- link(rel="stylesheet", href="./js/libs/jquery-confirm2/css/jquery-confirm.css")
    //- link(rel="stylesheet", href="./css/common.css")
    link(rel="stylesheet", href="./css/style.css")
