//- Local download 
script(src="./js/libs/jquery/jquery.min.js") 
script(src="./js/libs/jquery-validation/dist/jquery.validate.min.js")
//- script(src="./js/libs/slick-carousel/slick/slick.min.js")
//- script(src="./js/libs/nanoScrollerJS/bin/javascripts/jquery.nanoscroller.min.js")
//- script(src="./js/libs/jquery-confirm2/dist/jquery-confirm.min.js") 

//- ===         lading for CDN        ===
//- script(src="https://code.jquery.com/jquery-2.2.4.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js")
//- script(src="./js/libs/scrolly/jquery.scroolly.min.js")
//- script(src="./js/libs/select/jquery.selectric.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/javascripts/jquery.nanoscroller.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.0.3/jquery-confirm.min.js")
//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDce7fIG6BJcSDh5MQMKgxFuSDn--zyV54" )
//- script(src="./js/sliderInit.js")
//- script(src="./js/scrollyInit.js")
script(src="./js/main.js")

//- script(type='application/ld+json').
//-         {
//-                 "@context": "http://schema.org",
//-                 "@type": "Organization",
//-                 "name": "Omertex",
//-                 "description": "Implementation of it solutions, Web development, Mobile development, Open Source Development solutions, Banking software, telecommunications, Development of custom software, it consulting, Development and implementation of ERP-systems, financial markets, Testing",
//-                 "telephone": "+375 17 254 7574",
//-                 "email":"contact@omertex.com",
//-                 "url": "http://www.omertex.com",
//-                 "address": {
//-                         "@type": "PostalAddress", 
//-                         "addressLocality": "Minsk, Belarus", 
//-                         "postalCode": "220073", 
//-                         "streetAddress": "3Al'shewskaha st. 22-902"
//-                         }
//-         }
